body {

}

.gem {

}

#gameInfo {
	margin-top: 3rem;
}

@media screen and (max-width: 768px) {
	.jumbotron, h3 {
		font-size: 12pt;
	}
}

@media screen and (max-width: 540px) {
	.jumbotron, h3 {
		display: none;
	}

	body{
		margin-top: 70px;
	}
}